.form-control{
  border-radius: 0px;
}
.navbar{
  background-color: #6BB9F0;
}
.btn-success{
  border-radius: 0;
}

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#banner{
  background-color: #051C2C;
  height: 150px;
}

#banner a{
  padding: 0px;
}
#footer{
  color: white;
  background-color: #051C2C;
  padding-top: 20px;
  height: 200px;
  text-align: center;
}

#footer > div > img{
  height: 100px;
}

#footer a{
  padding: 0px;
}
