/**Override des classes Bootstrap**/
.form-control{
  border-radius: 0px;
}
.btn-success{
  border-radius: 0;
}

/**Style des pages*/
#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}
#banner{
  background-color: #051C2C;
  height: 150px;
  width: 100%;
}
#banner a{
  padding: 0px;
}

html,
body {
  height: 100%;
  font-family: "Sertig", sans-serif;;src: url("font/Sertig.otf");
  font-weight: bold;
}
section{
  margin-top: 20px;
  padding-top: 10px;
  background-color: #ECF0F1;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto -150px;
}
#main{
  padding-top: 20px;
}
#push,
#footer {
  height: 150px;
}
#footer{
  color: white;
  background-color: #051C2C;
  text-align: center;
}
#footer > div {
  margin: 0
}
#footer > div > img{
  height: 100px;
}
#footer a{
  padding: 0px;
}

/*Label pour page de Co/Ins*/
#visitdemand{
  text-align: center;
}
#labelacces{
  font-size: 0.66666666666666em;
  border-radius: 0px;
}
#inscription{
  border-radius: 0px;
}
/*Fin de label Co/Ins*/

/*Nav style*/
.navbar{
  background-color: #6BB9F0;
}
.navbar a{
  height: inherit;
}
.navbar img{
  max-height: 42px;
}
.navbar-brand{
  padding: 5px 5px;
}
.navbar > .container{
  width: 100%;
  padding-left: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #051C2C;
  color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #051C2C;
  color: white;
}

.navbar-nav > li > .dropdown-menu{
  border-radius: 0px;
  background-color: #051C2C;
}
.navbar-nav > li > .dropdown-menu > li > a{
  color: white;
}
.navbar-nav > li > .dropdown-menu > li > a:hover{
  background-color: #6BB9F0;
}

.vertaligicon{
  margin-top: -18px;
}

  /**Spécifique au @media xs**/
.navbar-default .navbar-toggle{
  border: 0px;
    background-color: #1E8BC3;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
  background-color: #051C2C;;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #051C2C;
}
